.container-pokemon {
  padding: 2rem;
}
.pokemonImage {
  position: absolute;
  top: 45%;
  left: 50%;
  margin-top: -2rem;
  transform: translate(-50%, -50%);
  z-index: 1;
}
.pokemonImage img {
  max-width: 20rem;
  height: 20rem;
  margin-bottom: 4.5rem;
}

.main-pokemon {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  max-width: 70%;
  height: auto;
  padding: 1.5rem;
  background-color: #fff;
  margin: auto;
  border-radius: 0.5rem;
  box-shadow: inset 2px 2.5px #e0e0e0;
  padding-bottom: 7rem;
}
.main-pokemon h5 {
  font-size: 2rem;
  text-align: center;
}
.div-fav-btn {
  display: flex;
  justify-content: end;
  align-items: center;
  margin-top: 2rem;
}
.fav-btn {
  border: 1px solid #fff;
  background-color: transparent;
  color: #dc0a2d;
  font-size: 1rem;
  border-radius: 3rem;
}
.fav-btn:hover {
  color: #fff;
  background-color: #dc0a2d;
  border-color: #e0e0e0;
}
.icon-fav {
  font-size: 1.3rem;
}
@media (max-width: 860px) {
  /* .pokemonImage {
    margin-top: -3rem;
  } */
  .pokemonImage img {
    max-width: 15rem;
    height: 15rem;
  }
  .main-pokemon {
    max-width: 90%;
  }
  .main-pokemon h5 {
    font-size: 1.5rem;
  }
}
@media (max-width: 480px) {
  .pokemonImage img {
    max-width: 13rem;
    height: 13rem;
  }
}
