.stats-div {
  width: 75%;
  margin: auto;
  height: auto;
  text-align: center;
}

.stats-table {
  margin: 0 auto;
  width: 100%;
  font-size: 1.3rem;
}

.trStats {
  display: flex;
  align-items: center;
  justify-content: space-between;
  row-gap: 1rem;
}

.stats {
  text-align: center;
  padding-left: 2rem;
  padding-right: 3rem;
}
.nameStats {
  font-weight: 600;
  padding-right: 2rem;
}
@media (max-width: 860px) {
  .stats-div {
    width: 100%;
    padding-top: 0.2rem;
  }
  .stats-table {
    width: 90%;
    font-size: 1.1rem;
  }
  .trStats {
    row-gap: 0.5rem;
  }
  .nameStats {
    padding-right: 0;
  }
  .stats {
    padding-left: 1rem;
    padding-right: 1rem;
  }
}
@media (max-width: 480px) {
  .stats-table {
    font-size: .9rem;
  }
}
