.container{
    max-width: 90%;
    min-height: 50vh;
    padding: 1.5rem;
    background-color: #Fff;
    margin: auto;
    border-radius: .5rem;
    box-shadow: inset 2px 2.5px #E0E0E0;
    padding-bottom: 5rem;
    
}
.main-container{
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    gap: 1rem;
    
}
@media (max-width: 868px ) {
    .container{
        max-width: 80%;
    }
    .main-container{
        justify-content: center;
        gap: 1.2rem;
    }
   
 }
 @media (max-width: 480px) {
   
 }